<!-- app/views/pokemons/index.html.erb -->

<h1>Pokémon Win Tracker</h1>

<div class="row">
  <% @pokemons.each do |pokemon| %>
    <div class="col-md-4">
      <div class="card custom-card"> <!-- .custom-cardクラスを追加 -->
        <%= image_tag pokemon.image_url, class: "card-img-top", alt: pokemon.name, width: "100px", height: "100px" %>
        <div class="card-body">
          <h5 class="card-title"><%= pokemon.name %></h5>
          <p class="card-text">勝利数: <%= pokemon.wins %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
